**Hipótesis**: *La edad y el género de los pacientes tienen una relación significativa con la tasa de fallecidos por COVID-19*

In [ ]:
import pandas as pd

a)

In [ ]:
#cargar el archivo 1 de covid
df =  pd.read_excel('casos_covid19_2024.xlsx')

b)

In [ ]:
df.head()

,año,numero_de_caso,fecha_apertura_snvs,fecha_toma_muestra,fecha_clasificacion,provincia,barrio,comuna,genero,edad,clasificacion,fecha_fallecimiento,fallecido,fecha_alta,tipo_contagio
0,2024,36838609,19JAN2024:00:00:00.000000,19JAN2024:00:00:00.000000,19JAN2024:00:00:00.000000,CABA,NaN,NaN,masculino,22.0,descartado,NA:00:00:00.000000,NaN,NA:00:00:00.000000,NaN
1,2024,37954800,15JUL2024:00:00:00.000000,15JUL2024:00:00:00.000000,15JUL2024:00:00:00.000000,Buenos Aires,NaN,NaN,femenino,56.0,descartado,NA:00:00:00.000000,NaN,NA:00:00:00.000000,NaN
2,2024,37230945,20MAR2024:00:00:00.000000,24JUL2023:00:00:00.000000,08AUG2023:00:00:00.000000,Buenos Aires,NaN,NaN,masculino,79.0,confirmado,NA:00:00:00.000000,NaN,NA:00:00:00.000000,NaN
3,2024,37774172,13MAY2024:00:00:00.000000,13MAY2024:00:00:00.000000,13MAY2024:00:00:00.000000,CABA,NaN,NaN,femenino,89.0,descartado,NA:00:00:00.000000,NaN,NA:00:00:00.000000,NaN
4,2024,36879658,28JAN2024:00:00:00.000000,28JAN2024:00:00:00.000000,28JAN2024:00:00:00.000000,Buenos Aires,NaN,NaN,femenino,98.0,confirmado,NA:00:00:00.000000,NaN,NA:00:00:00.000000,NaN

In [ ]:
df.shape

(50676, 15)

In [ ]:
df.dtypes

año                      int64
numero_de_caso           int64
fecha_apertura_snvs     object
fecha_toma_muestra      object
fecha_clasificacion     object
provincia               object
barrio                  object
comuna                 float64
genero                  object
edad                   float64
clasificacion           object
fecha_fallecimiento     object
fallecido               object
fecha_alta              object
tipo_contagio          float64
dtype: object

In [ ]:
df.isnull().sum()

año                        0
numero_de_caso             0
fecha_apertura_snvs        0
fecha_toma_muestra         0
fecha_clasificacion        0
provincia                945
barrio                 31749
comuna                 31749
genero                     0
edad                       4
clasificacion              0
fecha_fallecimiento        0
fallecido              50188
fecha_alta                 0
tipo_contagio          50676
dtype: int64

Para la hipotesis se va a analizar y filtrar las columnas *Edad*, *Fallecido* y *Genero*.